node_modules/
# .expo/
dist/
web-build/
.bundle-out/
.gradle-user-home/
expo-env.d.ts
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
.metro-health-check*
npm-debug.*
yarn-debug.*
yarn-error.*
.DS_Store
*.pem
.env*.local
*.tsbuildinfo
app-example
/ios
# /android
firebase-adminsdk.json
.env
